:root {
  color-scheme:dark;
  --b:#050505;
  --accent1:#1b524b;
  --accent2:#0b3f38;
  --b-size:500%;
  --links1:#aaa;
  --links2:#eee;
  --boton:#0a0a0abf;
  --boton:#0e0e0ebf;
  --border2:1px solid #14211f;
}

.light {
  color-scheme:light;
  --b:#ddd;
  --accent1:#1b524b;
  --accent2:#0b3f38;
  --b-size:200%;
  --links1:#333;
  --links2:#111;
  --boton:#eeeeeebf;
  --boton2:#f2f2f2bf;
  --border2:1px solid #14211f;
}

html, body {
  height:100%;
  font-size:16px;
  font-family:'Roboto', 'Arial', sans-serif;
}

body {
  margin:0;
  background:linear-gradient(45deg, var(--accent2, green), var(--b, black), var(--accent1, green));
  background-size:var(--b-size);
  background-position:center;
}

#lang-switchers {
  position:fixed;
  top:0;
  left:0;
  padding:.5rem;
  gap:.5rem;
  display:flex;
  justify-content:center;
  align-items:center;
}

.theme-switch {
  position:fixed;
  top:.5rem;
  right:.5rem;
}

a {
  color:var(--links1);
  text-decoration:none;
  transition:color ease .3s;
  &:hover {
    color:var(--links2);
  }
}

h1 {
  margin-top:0;
  margin-bottom:.5rem;
  font:700 1.5rem 'Georgia', serif;
  text-transform:uppercase;
}

button {
  background:var(--boton);
  border:var(--border2);
  outline:0;
  padding:.75em;
  font-weight:700;
  font-size:.7rem;
  text-transform:uppercase;
  cursor:pointer;
  &:hover {
    background:var(--boton2);
  }
}

body.index-page {
  display:grid;
  grid-template-columns:100%;
  place-content:center;
  align-items:center;
  text-align:center;
  gap:.5rem;
  & > * {
    margin:0 auto;
  }
  & > img {
    margin-top:-5rem;
  }
  & h1 {
    font:700 3rem 'Georgia', serif;
    & + p {
      font-size:.8rem;
    }
  }
  & > #quick-links {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:.5rem;
    padding:0;
    margin-top:2rem;
    & > li {
      display:block;
      background:var(--boton);
      border:var(--border2);
      font-weight:700;
      font-size:.75rem;
      text-transform:uppercase;
      &:hover {
        background:var(--boton2);
      }
      & a {
        padding:.75em;
        display:block;
      }
    }
  }
}
